.image-preview img {
    border-style: solid;
    border-width: 30px;
    border-top-color: skyblue;
    border-right-color: lightpink;
    border-bottom-color: lightgreen;
    border-left-color: #ffefd5;
}

p>span {
    color: red;
}

#header span {
    color: pink;
}

span {
    color: green;
}

#header *:last-child {
    color: orange;
}

#header span:first-child:hover {
    color: blue;
}